# dependencies
node_modules/

# build artifacts
.next/
out/
build/

# production
dist/

# env files (무조건 필요한 경우가 아니면 포함하지 않음)
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/Editor 설정 파일
.DS_Store
.idea/
.vscode/
*.swp
*.sublime-workspace

venv/
